$small_video_width: 512px;
$small_video_height: 288px;

$large_video_width: 896px;
$large_video_height: 504px;

.video {
    background: linear-gradient(135deg, #6f749e 0%, #9a8daf 31%, #d0a8b9 58%, #f8bbb1 80%, #fde6b1 100%);
    height: 100%;
    width: 100%;
    display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
}

.band-text {
	transform: rotate(-45deg);
    font-size: 6vmin;
    color: white;
    position: absolute;
    top: 4%;
    left: -20%;
    background-color: black;
    padding: 0 20% 1% 20%;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	max-width: $small_video_width;
	margin: 0 auto;
}

.video-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 10px solid white;
}

.gallery2 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    background: transparent;
    height: 80%
}

.gallery2-cell {
	margin: 0 auto;
    width: 60%;
    max-width: $small_video_width;
    background: transparent;
    border: none;
}

// Disable Flickity on Portrait Part 1
.gallery2:after {
    content: 'flickity';
    display: none;
}

@media all and (orientation:portrait) {
	// Disable Flickity on Portrait Part 2
    .gallery2:after {
        content: '';
    }
}

@media all and (orientation:landscape) {
    .band-text {
    	font-size: 8vmin;
    	position: static;
    	background-color: transparent;
    	text-align: center;
    	transform: rotate(0deg);
    	padding: 0 0 1rem 0;
    	margin-top: -8vmin;
    }

    .gallery2 {
    	display: block;
    	height: auto;
    }

    .gallery2-cell {
	    width: 100%;
    	max-width: none;
    	max-height: $small_video_height;
    }

    .video-frame {
    	width: 100%;
    	height: $small_video_height;
    }
}

@media all and (orientation:landscape) and (min-width: 87.5em) and (min-height: $large_video_height) {
    .gallery2-cell {
	    width: 100%;
    	max-width: none;
    	max-height: $large_video_height;
    }

	.video-wrapper {
		max-width: $large_video_width;
	}

    .video-frame {
    	width: 100%;
    	height: $large_video_height;
    }
}