$small_music_size: 250px;
$medium_music_size: 350px;
$large_music_size: 700px;

.music {
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #11219d 0%, #59d7dd 100%);
    display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
}

.music-text {
	transform: rotate(-45deg);
    font-size: 6vmin;
    color: white;
    position: absolute;
    top: 8%;
    left: -23%;
    background-color: black;
    padding: 0 20% 1% 20%;
}

.music-wrapper {
	position: relative;
	padding-bottom: $medium_music_size;
	height: 0;
	max-width: $medium_music_size;
	margin: 0 auto;
}

.music-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 10px solid white;
}

.gallery3 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    background: transparent;
    height: 80%;
}

.gallery3-cell {
	margin: 0 auto;
    width: 100%;
    max-width: $medium_music_size;
    background: transparent;
    border: none;
}

// Disable Flickity on Portrait
.gallery3:after {
    content: 'flickity';
    display: none;
}

//Media Queries
@media all and (orientation:portrait) {
    /* disable Flickity for large devices */
    .gallery3:after {
        content: '';
    }
}

@media all and (orientation:portrait) and (max-height: 80em) {
    .gallery3-cell {
	    width: 100%;
    	max-width: none;
    	max-height: $small_music_size;
    }

	.music-wrapper {
		max-width: $small_music_size;
		padding-bottom: $small_music_size;

	}

    .music-frame {
    	width: 100%;
    	height: $small_music_size;
    }
}

@media all and (orientation:landscape) {
    .music-text {
    	font-size: 8vmin;
    	position: static;
    	background-color: transparent;
    	text-align: center;
    	transform: rotate(0deg);
    	padding: 0 0 1rem 0;
    	margin-top: -8vmin;
    }

    .gallery3 {
    	display: block;
    	height: auto;
    }

    .gallery3-cell {
	    width: 100%;
    	max-width: none;
    	max-height: $medium_music_size;
    }

    .music-frame {
    	width: 100%;
    	height: $medium_music_size;
    }
}

@media all and (orientation:landscape) and (min-width: 87.5em) and (min-height: $large_music_size) {
    .gallery3-cell {
	    width: 100%;
    	max-width: none;
    	max-height: $large_music_size;
    }

	.music-wrapper {
		max-width: $large_music_size;
		padding-bottom: $large_music_size;
	}

    .music-frame {
    	width: 100%;
    	height: $large_music_size;
    }
}

