.musicframe {
    display: block;
    margin: 0% auto 4% auto;
    width: 350px;
    height: 350px;
    border: 10px solid white;
}

.music {
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #11219d 0%, #59d7dd 100%);
}

.music-text {
    font-size: 3vw;
    padding: 0;
    text-align: center;
    color: #ffffff;;
}