* {
      box-sizing: border-box;
    }

    html, body {
      height: 100%;
    }

    body {
      padding: 0;
      margin: 0;
      font-family: 'Faster One', cursive;
    }

    .gallery {
      background: white;
      height: 100%;
    }

    .gallery-cell {
        width: 100%;
        height: 100%;
        margin-right: 10px;
        background: white;
        overflow: scroll;
        border: 0.7em solid white;
    }

    .embed-container { 
        position: relative; 
        padding-bottom: 56.25%; 
        height: 0px; 
        overflow: hidden; 
        max-width: 100%;
    } 

    .embed-container iframe {
        position: absolute; 
        top: 20%; 
        left: 20%;
        width: 60%;
        height: 60%;
        border: 10px solid white;
    }

    .video {
        background-color: black;
    }

    .video-text {
        font-size: 15vw;
        margin-top: 0.3em;
        text-align: center;
        color: white;
        width: 100%;
    }

    .jonsolo {
        background-image: url(../images/face_iso.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: rgba(255,179,237,1);
        &:before {
            content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: linear-gradient(to bottom, white, purple);
                opacity: 0.2; 
          }
    }

    .jonsolo-text {
        font-size: 15vmin;
        z-index: 1000;
        position: absolute;
        top: 60px;
        left: 0.4em;
        transform : scale(1,2);
        color: rgba(255,115,116,1);
        text-shadow: 0.04em 0.03em 0px #feac7d;
        line-height: 0.8;
    }

    .music {
        background-color: blue;

    }

    .music-header {
        font-size: 10vw;
        padding: 1rem;
        background-color: red;
        border-bottom: 0.25em solid white;
        text-align: center;
        color: white;
    }

    .contact {
        font-size: 17vw; 
        text-align: center;
        color: red;
    }

    .intro {
        border: 1em solid black;
        background-image: linear-gradient(45deg, #00a8c5, #ffff7e);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro-text {
        background-color: white;
        text-align: center;
        line-height: 1.5em;
        font-size: 8vw;
        padding: 1em;
        mix-blend-mode: screen;
    }